@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 88px;
}

@media (max-width: 639px) {
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(9 9 11 / var(--tw-bg-opacity, 1));
    padding-bottom: 88px;
  }
}
